body {
    height: auto;
}
.root {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}
.part-left {
    height: 100%;
    width: 27%;
    background-color: #000;
}
.part-right {
    height: 100%;
    width: ;
    flex: 1;
     
}
#map-container {
    height: 100%;
    width: 100%;
}
/* 日期控件 */
.date-container {
    height: 100px;
    width: 100px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #000;
}
/* 去除左下角水印 */
.amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
}

.amap-copyright {
    right: 70px !important;
    left: auto !important;
}  