body {
    height: auto;
}
.root {
    height: 100vh;
    width: 100%;
    position: relative;
}
.part-left {
    height: 100%;
    width: 500px;
    background-color: #000;
    transition: transform .5s;
    will-change: transform;
    position: absolute;
    opacity: .8;
    z-index: 1;
}
.hide-panel {
    transform: translateX(-500px);
}
.panel-button {
    height: 150px;
    width: 40px;
    content: "";
    display: block;
    right: -40px;
    top: 50%;
    margin-top: -75px;
    position: absolute;
    background-color: #00ff40;
    z-index: 1;
    cursor: pointer;
}
.part-right {
    height: 100%;
    width: 100%;
}
#map-container {
    height: 100%;
    width: 100%;
}
/* 日期控件 */
.date-container {
    height: 100px;
    width: 100px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #000;
    
}
/* 去除左下角水印 */
.amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
}

.amap-copyright {
    right: 70px !important;
    left: auto !important;
}  